* {
	font-family: "Zen Maru Gothic", sans-serif;
}

#root {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

.box {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25%;
	height: auto;
	padding: 2em;
	background-color: #f9f4f4;
	border-radius: 50px;
	border: 5px solid #f4eaea;
}

.icon {
	width: 40%;
	margin: 0 auto;
	border-radius: 50%;
}

img {
	max-width: 100%;
	box-sizing: border-box;
	border-radius: 50%;
}

p {
	line-height: 1.6;
	letter-spacing: 4px;
	margin: 0;
	color: #86532e;
}

.text01 {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.text01 p {
	font-size: 18px;
	font-weight: 500;
}

.text02 {
	text-align: center;
	margin-bottom: 10px;
}

.text03 {
	text-align: center;
}
